<form action="/client/{{client.id}}?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="" class="form-control" value="{{client.name}}" required>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" name="address" id="" class="form-control" value="{{client.address}}" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="" class="form-control" value="{{client.email}}" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="number" name="phone" id="" class="form-control" value="{{client.phone}}" required>
  </div>
  <div class="form-group">
    <label for="activity">Activity:</label>
    <input type="text" name="activity" id="" class="form-control" value="{{client.activity}}" required>
  </div>
  <button class="btn btn-primary btn-block">Edit Client</button>
</form>